# ESLint always ignores files in /node_modules/* and /bower_components/*
# /node_modules/*
builds/**
docs/**
demo/lib/**
content/images/**
content/dziimages/**
LICENSE
*.config
*.md
*.json
*.ico
*.gif
*.jpg
*.png
*.txt
*.css
*.scss
*.html
