node_modules/**
builds/**
docs/**
demo/lib/**
content/images/**
content/dziimages/**
LICENSE
.browserslistrc
.editorconfig
.env
.eslintignore
.gitattributes
.gitignore
.npmignore
.prettierignore
package-lock.json
*.config
*.ico
*.jpg
*.gif
*.png
*.txt
